body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 960px;
    margin: 0 auto;
}

/* Centra il contenuto di header e nav */
nav {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

nav div {
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 10px;
}

h1 {
    width: 100%;
    text-align: center;
    /* Centra il testo all'interno di h1 */
    margin: 0;
}

@media (min-width: 960px){
    header {
        width: 960px;
    }

    nav {
        width: 960px;
        margin: 0;
        align-items: center;
        text-align: center;
    }

    main {
        width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    footer {
        width: 960px;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        flex-wrap: none;
    }

    h1 {
        display: flex;
        justify-content: center;
        width: 960px;
    }
    
}

/* Media query per schermi più grandi di 768px */
@media (min-width: 700px) and (max-width: 960px){
    header {
        width: 100%;
    }

    nav {
        width: 100%;
        margin: 0;
        align-items: center;
        text-align: center;
    }

    main {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    footer {
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        flex-wrap: none;
    }

    h1 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

/* Media query per schermi più piccoli di 700px */
@media (min-width: 0px) and (max-width: 700px) {

    header {
        width: 100%;
    }

    nav {
        width: 100%;
        margin: 0;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: left;
    }

    main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

article {
    width: 300px;
    background-color: white;
}

figure {
    width: 100%;
    margin: 0px;
}

img {
    width: 100%;
}

.button {
    width: 200px;
    height: 35px;
    background-color: rgb(60, 122, 255);
    text-align: center;
    border-radius: 50px;
    margin: 30px;
    cursor: pointer;
}

.button a {
    color: white;
    line-height: 35px;
}

.button:hover {
    background-color: rgb(93, 143, 251);
}

a {
    text-decoration: none;
}

section {
    margin: 30px;
}

.text {
    margin: 0px 0px 0px 30px;
}